<main id="about">

  <header class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" ui-sref="home">
          <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <span class="navbar-burger burger" ng-class="{ 'is-active': navMenuVisible }" ng-click="navMenuVisible = !navMenuVisible">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div class="navbar-menu" ng-class="{ 'is-active': navMenuVisible }">
        <div class="navbar-end">
          <a class="navbar-item" ui-sref="home" ui-sref-active="is-active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Home</span>
          </a>
          <a class="navbar-item" ui-sref="about" ui-sref-active="is-active">
            <span class="icon"><i class="fas fa-heart"></i></span>
            <span>About</span>
          </a>
          <div class="navbar-item">
            <div class="field is-grouped is-grouped-multiline">
              <p class="control">
                <a href="{{ shareOption('facebook') }}" target="_blank" class="button is-rounded is-fullwidth is-dark is-facebook">
                  <span class="icon"><i class="fab fa-facebook-f"></i></span>
                  <span>Share to Facebook</span>
                </a>
              </p>
              <p class="control">
                <a href="{{ shareOption('twitter') }}" target="_blank" class="button is-rounded is-fullwidth is-dark is-twitter">
                  <span class="icon"><i class="fab fa-twitter"></i></span>
                  <span>Share to Twitter</span>
                </a>
              </p>
              <p class="control">
                <a href="{{ shareOption('email') }}" target="_blank" class="button is-rounded is-fullwidth">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <span>Email a friend</span>
                </a>
              </p>
              <!-- <p class="control">
                <a class="button is-rounded is-fullwidth is-danger">
                  <span class="icon"><i class="fas fa-heart"></i></span>
                  <span>Donate</span>
                </a>
              </p> -->
            </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section">
    <div class="container has-text-centered">

      <h2 class="title is-2">
        Hi, we're The Kindness Project
        <span class="icon has-text-danger is-medium">
          <i class="fas fa-heart"></i>
        </span>
      </h2>

      <div class="content is-large">
        <p>We're a team of developers based in London, UK, on a mission to help the vulnerable amongst us get support during the current pandemic.</p>
        <p><span class="is-primary">If you need help</span>, please create a post and reach out to those offering help in your area.</p>
        <p><span class="is-danger">You can help</span> by reaching out to those who need it, spreading the word on social media, and donating to help us cover costs &amp; expand our efforts.</p>
        <p>If you would like to get in touch, please <a href="https://twitter.com/kindness_xyz" target="_blank">tweet us</a> or <a href="mailto:yourfriends@kindnessproject.xyz" target="_blank">email us</a>.
        <p>
          We're all in this together. Stay safe!
          <span class="icon has-text-warning is-medium"><i class="fas fa-lg fa-sun"></i></span>
        </p>
      </div>

    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">

      <h3 class="title is-3">Help spread the word</h3>

      <div class="buttons is-centered social-buttons">
        <a href="{{ shareOption('facebook') }}" target="_blank" class="button is-rounded is-dark is-medium is-facebook">
          <span class="icon"><i class="fab fa-facebook-f"></i></span>
          <span>Share to Facebook</span>
        </a>
        <a href="{{ shareOption('twitter') }}" target="_blank" class="button is-rounded is-dark is-medium is-twitter">
          <span class="icon"><i class="fab fa-twitter"></i></span>
          <span>Share to Twitter</span>
        </a>
        <a href="{{ shareOption('email') }}" target="_blank" class="button is-rounded is-medium">
          <span class="icon"><i class="fas fa-envelope"></i></span>
          <span>Email a friend</span>
        </a>
      </div>

    </div>
  </section>

</main>