<main id="home">

  <section class="hero is-light">

    <div class="hero-head">
      <header class="navbar">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active">
                Home
              </a>
              <a class="navbar-item">
                About
              </a>
              <span class="navbar-item social">
                <a class="button is-rounded is-dark is-facebook">
                  <span class="icon">
                    <i class="fab fa-facebook-f"></i>
                  </span>
                  <span>Share to Facebook</span>
                </a>
              </span>
              <span class="navbar-item social">
                <a class="button is-rounded is-dark is-twitter">
                  <span class="icon">
                    <i class="fab fa-twitter"></i>
                  </span>
                  <span>Share to Twitter</span>
                </a>
              </span>
              <span class="navbar-item social">
                <a class="button is-rounded">
                  <span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>Email a friend</span>
                </a>
              </span>
              <span class="navbar-item social">
                <a class="button is-rounded is-danger">
                  <span class="icon">
                    <i class="fas fa-heart"></i>
                  </span>
                  <span>Donate</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">

        <div class="columns is-mobile">
          <div class="column is-8 is-offset-2">

            <h2 class="title is-2">
              Request or offer help to those in your community during the current pandemic
              <span class="icon has-text-danger is-medium">
                <i class="fas fa-heart"></i>
              </span>
            </h2>
        
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="column is-half is-offset-one-quarter">

            <form>
              <div class="field has-addons">
                <div class="control search-bar has-icons-left">
                  <input class="input is-large is-rounded" type="text" placeholder="Enter your location">
                  <span class="icon is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <div class="control">
                  <a class="button is-large is-primary is-rounded">Search</a>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>

  </section>

  <section class="section">
    <div class="container">

      <div class="columns is-mobile">

        <div class="column is-half">

          <h3 class="title is-3">Newest requests</h3>

          <a class="box">

            <article class="media">
              <div class="media-content">

                <nav class="level is-mobile post-meta">
                  <div class="level-left">
                    <div class="level-item">

                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item subtitle">
                      London, UK
                    </div>
                  </div>
                </nav>

                <div class="content">
                  <p class="title is-4 is-spaced">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
                  <p class="subtitle">Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
                </div>

                <nav class="level is-mobile">
                  <div class="level-left"></div>
                  <div class="level-right">
                    <button class="button level-item is-rounded is-small is-dark is-facebook">
                      <span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
                      <span>Share to Facebook</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-dark is-twitter">
                      <span class="icon is-small"><i class="fab fa-twitter"></i></span>
                      <span>Share to Twitter</span>
                    </button>
                    <button class="button level-item is-rounded is-small">
                      <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                      <span>Email a friend</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-primary">
                      <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      <span>Reply</span>
                    </button>
                  </div>
                </nav>

              </div>
            </article>

          </a>

        </div>

        <div class="column is-half">

          <h3 class="title is-3">Newest offers to help</h3>

        </div>

      </div>

    </div>
  </section>

  <!-- <div class="columns is-mobile">
    <div class="column is-three-fifths is-offset-one-fifth">

      <div class="buttons is-centered social-buttons">
        <button class="button is-rounded is-dark is-medium is-facebook">
          <span class="icon">
            <i class="fab fa-facebook-f"></i>
          </span>
          <span>Share to Facebook</span>
        </button>
        <button class="button is-rounded is-dark is-medium is-twitter">
          <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
          <span>Share to Twitter</span>
        </button>
        <button class="button is-rounded is-medium">
          <span class="icon">
            <i class="fas fa-envelope"></i>
          </span>
          <span>Email a friend</span>
        </button>
      </div>

    </div>
  </div> -->

    

</main>