<main id="home">

  <section class="hero">

    <div class="hero-head">
      <header class="navbar is-transparent">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" ui-sref="home">
              <img src="/assets/img/logo.png" alt="Logo">
            </a>
            <span class="navbar-burger burger">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" ui-sref="home" ui-sref-active="is-active">Home</a>
              <a class="navbar-item" ui-sref="about" ui-sref-active="is-active">About</a>
              <span class="navbar-item social">
                <a class="button is-rounded is-dark is-facebook">
                  <span class="icon"><i class="fab fa-facebook-f"></i></span>
                  <span>Share to Facebook</span>
                </a>
              </span>
              <span class="navbar-item social">
                <a class="button is-rounded is-dark is-twitter">
                  <span class="icon"><i class="fab fa-twitter"></i></span>
                  <span>Share to Twitter</span>
                </a>
              </span>
              <span class="navbar-item social">
                <a class="button is-rounded">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <span>Email a friend</span>
                </a>
              </span>
              <!-- <span class="navbar-item social">
                <a class="button is-rounded is-danger">
                  <span class="icon"><i class="fas fa-heart"></i></span>
                  <span>Donate</span>
                </a>
              </span> -->
            </div>
          </div>
        </div>
      </header>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">

        <div class="columns is-mobile">
          <div class="column is-8 is-offset-2">

            <h2 class="title is-2">
              Request or offer help to those in your community affected by the pandemic
              <span class="icon has-text-danger is-medium"><i class="fas fa-heart"></i></span>
            </h2>
        
          </div>
        </div>

        <div class="columns is-mobile form-container">
          <div class="column is-half is-offset-one-quarter">

            <form>
              <div class="field has-addons">
                <div class="control search-bar has-icons-left">
                  <input class="input is-large is-rounded" type="text" placeholder="Enter your location">
                  <span class="icon is-left">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <div class="control">
                  <a class="button is-large is-primary is-rounded">Search</a>
                </div>
              </div>

              <h5 class="subtitle is-5 filter-radius">
                <span>Search posts within</span>
                <button class="button is-rounded">
                  <span class="icon"><i class="fas fa-car"></i></span>
                  <span>20 miles</span>
                </button>
              </h5>

            </form>

          </div>
        </div>

      </div>
    </div>

  </section>

  <section class="section">
    <div class="container">

      <div class="buttons has-addons is-centered toggle-mode">
        <button class="button is-large is-rounded is-primary">
          <span class="icon">
            <i class="fas fa-first-aid"></i>
          </span>
          <span>Requests for help</span>
        </button>
        <button class="button is-large is-rounded">
          <span class="icon">
            <i class="fas fa-heart"></i>
          </span>
          <span>Offers to help</span>
        </button>
      </div>

      <div class="columns is-mobile">

        <div class="column is-three-fifths is-offset-one-fifth">

          <!-- <h3 class="title is-3">Requests for help</h3> -->

          <a class="box post-block" ui-sref="post({ id: 'test' })">

            <article class="media">
              <div class="media-content">

                <div class="tags">
                  <div class="tag is-rounded is-medium">Grocery help</div>
                  <div class="tag is-rounded is-medium">Medicine pickup</div>
                  <!-- <div class="tag is-rounded is-medium">Errand</div> -->
                  <div class="tag is-rounded is-medium">Friendly chat</div>
                  <div class="tag is-medium is-white">+2</div>
                </div>
    
                <div class="content">
                  <h4 class="title is-4 is-spaced">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</h4>
                  <p class="subtitle">Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
                </div>

                <nav class="level is-mobile author-block">
                  <div class="level-left">
                    <div class="level-item subtitle is-grey-light">
                      <span><strong>Jane</strong></span>&nbsp;in&nbsp;<span>London, UK</span>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      2 days ago
                    </div>
                  </div>
                </nav>

                <nav class="level is-mobile share-options">
                  <div class="level-left"></div>
                  <div class="level-right">
                    <button class="button level-item is-rounded is-small is-dark is-social is-facebook">
                      <span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
                      <span>Share to Facebook</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-dark is-social is-twitter">
                      <span class="icon is-small"><i class="fab fa-twitter"></i></span>
                      <span>Share to Twitter</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-social is-email">
                      <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                      <span>Email a friend</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-primary">
                      <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      <span>Reply</span>
                    </button>
                  </div>
                </nav>

              </div>
            </article>

          </a>

          <a class="box post-block" ui-sref="post({ id: 'test' })">

            <article class="media">
              <div class="media-content">

                <div class="tags">
                  <div class="tag is-rounded is-medium">Grocery help</div>
                  <div class="tag is-rounded is-medium">Medicine pickup</div>
                  <!-- <div class="tag is-rounded is-medium">Errand</div> -->
                  <div class="tag is-rounded is-medium">Friendly chat</div>
                  <div class="tag is-medium is-white">+2</div>
                </div>
    
                <div class="content">
                  <h4 class="title is-4 is-spaced">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</h4>
                  <p class="subtitle">Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
                </div>

                <nav class="level is-mobile author-block">
                  <div class="level-left">
                    <div class="level-item subtitle is-grey-light">
                      <span><strong>Jane</strong></span>&nbsp;in&nbsp;<span>London, UK</span>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      2 days ago
                    </div>
                  </div>
                </nav>

                <nav class="level is-mobile share-options">
                  <div class="level-left"></div>
                  <div class="level-right">
                    <button class="button level-item is-rounded is-small is-dark is-social is-facebook">
                      <span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
                      <span>Share to Facebook</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-dark is-social is-twitter">
                      <span class="icon is-small"><i class="fab fa-twitter"></i></span>
                      <span>Share to Twitter</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-social is-email">
                      <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                      <span>Email a friend</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-primary">
                      <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      <span>Reply</span>
                    </button>
                  </div>
                </nav>

              </div>
            </article>

          </a>

          <a class="box post-block" ui-sref="post({ id: 'test' })">

            <article class="media">
              <div class="media-content">

                <div class="tags">
                  <div class="tag is-rounded is-medium">Grocery help</div>
                  <div class="tag is-rounded is-medium">Medicine pickup</div>
                  <!-- <div class="tag is-rounded is-medium">Errand</div> -->
                  <div class="tag is-rounded is-medium">Friendly chat</div>
                  <div class="tag is-medium is-white">+2</div>
                </div>
    
                <div class="content">
                  <h4 class="title is-4 is-spaced">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</h4>
                  <p class="subtitle">Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
                </div>

                <nav class="level is-mobile author-block">
                  <div class="level-left">
                    <div class="level-item subtitle is-grey-light">
                      <span><strong>Jane</strong></span>&nbsp;in&nbsp;<span>London, UK</span>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      2 days ago
                    </div>
                  </div>
                </nav>

                <nav class="level is-mobile share-options">
                  <div class="level-left"></div>
                  <div class="level-right">
                    <button class="button level-item is-rounded is-small is-dark is-social is-facebook">
                      <span class="icon is-small"><i class="fab fa-facebook-f"></i></span>
                      <span>Share to Facebook</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-dark is-social is-twitter">
                      <span class="icon is-small"><i class="fab fa-twitter"></i></span>
                      <span>Share to Twitter</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-social is-email">
                      <span class="icon is-small"><i class="fas fa-envelope"></i></span>
                      <span>Email a friend</span>
                    </button>
                    <button class="button level-item is-rounded is-small is-primary">
                      <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      <span>Reply</span>
                    </button>
                  </div>
                </nav>

              </div>
            </article>

          </a>

        </div>

      </div>

      <nav class="buttons is-centered pagination">
        <button class="button is-medium is-rounded" disabled>
          Previous
        </button>
        <button class="button is-medium is-rounded">
          Next page
        </button>
      </nav>

    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">

      <div class="columns is-mobile">
        <div class="column is-three-fifths is-offset-one-fifth">

          <h3 class="title is-3">Help spread the word</h3>

          <div class="buttons is-centered social-buttons">
            <button class="button is-rounded is-dark is-medium is-facebook">
              <span class="icon">
                <i class="fab fa-facebook-f"></i>
              </span>
              <span>Share to Facebook</span>
            </button>
            <button class="button is-rounded is-dark is-medium is-twitter">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
              <span>Share to Twitter</span>
            </button>
            <button class="button is-rounded is-medium">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
              <span>Email a friend</span>
            </button>
            <!-- <button class="button is-rounded is-medium is-danger">
              <span class="icon">
                <i class="fas fa-heart"></i>
              </span>
              <span>Donate</span>
            </button> -->
          </div>

        </div>
      </div>

    </div>
  </section>

</main>