<main id="post">

  <header class="navbar is-transparent">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" ui-sref="home">
          <img src="/assets/img/logo.png" alt="Logo">
        </a>
        <span class="navbar-burger burger">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" ui-sref="home" ui-sref-active="is-active">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span>Home</span>
          </a>
          <a class="navbar-item" ui-sref="about" ui-sref-active="is-active">
            <span class="icon"><i class="fas fa-heart"></i></span>
            <span>About</span>
          </a>
          <div class="navbar-item">
            <div class="field is-grouped is-grouped-multiline">
              <p class="control">
                <a class="button is-rounded is-fullwidth is-dark is-facebook">
                  <span class="icon"><i class="fab fa-facebook-f"></i></span>
                  <span>Share to Facebook</span>
                </a>
              </p>
              <p class="control">
                <a class="button is-rounded is-fullwidth is-dark is-twitter">
                  <span class="icon"><i class="fab fa-twitter"></i></span>
                  <span>Share to Twitter</span>
                </a>
              </p>
              <p class="control">
                <a class="button is-rounded is-fullwidth">
                  <span class="icon"><i class="fas fa-envelope"></i></span>
                  <span>Email a friend</span>
                </a>
              </p>
              <!-- <p class="control">
                <a class="button is-rounded is-fullwidth is-danger">
                  <span class="icon"><i class="fas fa-heart"></i></span>
                  <span>Donate</span>
                </a>
              </p> -->
            </div>
        </div>
      </div>
    </div>
  </header>

  <section class="section">
    <div class="container">

      <button ui-sref="home" class="button is-rounded is-medium">
        <span class="icon"><i class="fas fa-arrow-left"></i></span>
        <span>Back</span>
      </button>

      <div class="content post-block">

        <article class="media">
          <div class="media-content">

            <div class="tags are-medium">
              <div class="tag is-rounded">Grocery help</div>
              <div class="tag is-rounded">Medicine pickup</div>
              <div class="tag is-rounded">Friendly chat</div>
              <div class="tag is-rounded">Important errand</div>
            </div>

            <div class="content">
              <h4 class="title is-3 is-spaced">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</h4>
              <p class="subtitle is-4">Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque. Aliquam tincidunt mauris eu risus. Vestibulum auctor dapibus neque.</p>
            </div>

            <div class="author-block clear">
              <div class="float-left subtitle is-grey-light">
                <span><strong>Jane Jane Jane Jane</strong></span>&nbsp;near&nbsp;<span>Walthamstow</span>
              </div>
              <div class="float-right">
                2 days ago
              </div>
            </div>

          </div>
        </article>

      </div>

      <div class="content reply-block form-block">

        <h4 class="title is-4 is-spaced">
          <span class="icon"><i class="fas fa-reply"></i></span>
          <span>Reply</span>
        </h4>

        <h5 class="subtitle is-5">All fields are required &middot; Your message will be sent to the poster by email</h5>

        <form ng-submit="ctrl.submit()">

          <div class="notification-wrapper" ng-show="ctrl.errors.general !== undefined">
            <div class="notification is-danger">
              <button type="button" class="delete" ng-click="ctrl.errors.general = undefined"></button>
              <p class="subtitle">{{ ctrl.errors.general }}</p>
            </div>
          </div>

          <div class="field">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input is-medium" type="text" placeholder="First name" ng-model="ctrl.data.name" ng-class="{ 'is-danger': ctrl.errors.name !== undefined }" ng-change="ctrl.validateField('name')" ng-model-options="{ updateOn: 'change' }" ng-trim="false">
                  <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                </p>
                <p class="help is-danger" ng-if="ctrl.errors.name !== undefined">{{ ctrl.errors.name }}</p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left" ng-class="{ 'has-icons-right': ctrl.errors.email !== undefined }">
                  <input class="input is-medium" type="email" placeholder="Email" ng-model="ctrl.data.email" ng-class="{ 'is-danger': ctrl.errors.email !== undefined }" ng-change="ctrl.validateField('email')" ng-model-options="{ updateOn: 'change' }" ng-trim="false">
                  <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                  <span class="icon is-small is-right has-text-danger" ng-if="ctrl.errors.email !== undefined"><i class="fas fa-exclamation-triangle"></i></span>
                </p>
                <p class="help is-danger" ng-if="ctrl.errors.email !== undefined">{{ ctrl.errors.email }}</p>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <textarea class="textarea is-medium" placeholder="I may be able to help!" ng-model="ctrl.data.body" ng-class="{ 'is-danger': ctrl.errors.body !== undefined }" ng-change="ctrl.validateField('body')" ng-model-options="{ updateOn: 'change' }" ng-trim="false"></textarea>
            </div>
            <p class="help is-danger" ng-if="ctrl.errors.body !== undefined">{{ ctrl.errors.body }}</p>
          </div>

          <div class="field">
            <div class="control">
              <button type="submit" class="button is-rounded is-medium is-primary is-fullwidth is-submit" ng-class="{ 'is-loading': ctrl.display.isLoading }">
                <span class="icon"><i class="fas fa-paper-plane"></i></span>
                <span>Send message</span>
              </button>
            </div>
          </div>

        </form>

      </div>

    </div>
  </section>

  <section class="section">
    <div class="container has-text-centered">

      <h3 class="title is-3">Share this post</h3>

      <div class="buttons is-centered social-buttons">
        <button class="button is-rounded is-dark is-medium is-facebook">
          <span class="icon"><i class="fab fa-facebook-f"></i></span>
          <span>Share to Facebook</span>
        </button>
        <button class="button is-rounded is-dark is-medium is-twitter">
          <span class="icon"><i class="fab fa-twitter"></i></span>
          <span>Share to Twitter</span>
        </button>
        <button class="button is-rounded is-medium">
          <span class="icon"><i class="fas fa-envelope"></i></span>
          <span>Email a friend</span>
        </button>
      </div>

    </div>
  </section>

</main>
