/* Common styles */

.clear {
  clear: both;
}

.section .container {
  max-width: 800px;
}

.navbar-item img {
  max-height: 3.5rem;
}
.navbar-item > .icon {
  display: none;
}
.navbar-item.is-active {
  font-weight: 600;
}
.navbar-item.is-active:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #00d1b2;
}
@media screen and (max-width: 1023px) {
  .navbar-item.is-active:before {
    display: none;
  }
  .navbar-item > .icon {
    display: inline-flex;
  }
}
@media screen and (max-width: 600px) {
  .navbar-item img {
    max-height: 3rem;
  }
  .navbar-item .control {
    width: 100%;
  }

}

.button.is-facebook {
  background-color: #3b5998;
}
.button.is-facebook:hover {
  background-color: #2E4C8B;
}
.button.is-twitter {
  background-color: #4099ff;
}
.button.is-twitter:hover {
  background-color: #338CF2;
}
@media screen and (min-width: 450px) {
  .button.is-submit {
    max-width: 250px;
  }
}
@media screen and (max-width: 450px) {
  .buttons .button {
    width: 100%;
  }
}

span.is-danger {
  border-bottom: 4px solid #f14668;
  font-weight: 600;
}
span.is-primary {
  border-bottom: 4px solid #00d1b2;
  font-weight: 600;
}

.box, .notification {
  /* Override */
  border-radius: 15px;
}

.media-content {
  width: 100%;
}
@media screen and (max-width: 768px) { /* Override */
  .media-content {
    overflow-x: initial;
  }
}

.post-block .author-block {
  height: 30px;
}
.post-block .author-block .float-left {
  float: left;
  width: calc(100% - 135px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -0.2rem;
  margin-bottom: 0;
}
.post-block .author-block .float-right {
  float: right;
}

.footer {
  margin-top: 3rem;
}

.modal .modal-content {
  max-width: 300px;
}

.pageloader { /* Overrides */
  transition: none;
  background: #fff;
}
.pageloader:not(.is-active) {
  display: none;
}
.pageloader:after {
  border-color: #00d1b2;
}
.pageloader .title {
  font-size: 1.5rem;
  margin-top: 1em;
  letter-spacing: 0;
  color: #363636;
}

@media screen and (max-width: 600px) {
  .is-collapsible-600 {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .is-collapsible-450 {
    display: none;
  }
}

/* Autocomplete styles */

.pac-container {
  border-radius: 15px;
}
.pac-container:after {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.pac-item {
  padding: 0.5rem;
  font-size: 1rem;
}
.pac-item-query {
  font-size: 1.2rem;
  color: #363636;
}

/* Home styles */

#home .hero {
  background-image: url('/assets/img/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}
#home .hero .title {
  max-width: 950px;
  margin: 0 auto; /* Center */
}
#home .hero form {
  max-width: 600px;
  margin: 0 auto; /* Center */
}
#home .hero form .button.is-submit span:last-child {
  display: none;
}
@media screen and (max-width: 500px) {
  #home .hero form .button.is-submit {
    padding-left: 0.5rem;
  } 
  #home .hero form .button.is-submit span:first-child {
    display: none;
  }
  #home .hero form .button.is-submit span:last-child {
    display: block;
  }
}

#home .toggle-mode {
  margin-top: 2rem;
}

#home .search-bar {
  width: 100%;
}

#home .filter-radius button {
  vertical-align: middle;
  margin-left: 0.25em;
}
#home .filter-radius .dropdown {
  /* Override */
  vertical-align: middle;
}
#home .filter-radius .dropdown-content {
  border-radius: 25px;
  overflow: hidden;
  width: 150px;
}
#home .filter-radius .dropdown-item {
  font-size: 1rem;
}

#home .post-block {
  cursor: pointer;
  border: 1px solid #fff;
}
#home .post-block:hover {
  border: 1px solid #3273dc;
}
#home .post-block .tags {
  margin-bottom: 0rem;
}
#home .post-block .content .title {
  margin-bottom: 0rem;
}
#home .post-block .content .subtitle {
  margin-top: 0.25rem;
}
#home .post-block .share-options {
  margin-bottom: -2.25rem;
}
#home .post-block .share-options .is-social {
  opacity: 0;
}
#home .post-block:hover .share-options .is-social {
  opacity: 1;
}
#home .post-block .share-options .is-social.is-dark a {
  color: #fff;
}
#home .post-block .share-options .is-social:not(.is-dark) a {
  color: #363636;
}
@media screen and (max-width: 450px) {
  #home .post-block:hover .share-options .is-social {
    padding-right: 0.5rem;
  }
}

#home .post-block .tag.is-white {
  padding-left: 0;
}
#home .post-block .content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
#home .post-block .content .subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

#home .pagination {
  margin-top: 3rem;
}

/* Post / create post styles */

.form-block .subtitle {
  margin-bottom: 1rem;
}
.form-block .field-body .control {
  margin-bottom: 0;
}
.form-block .help {
  font-size: 1rem;
}
.notification-wrapper {
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.notification .subtitle {
  margin-bottom: 0;
}

#post .post-block, #create-post .create-post-block {
  margin-top: 4rem;
}
#post .post-block .content .subtitle {
  margin-top: -0.5rem;
  margin-bottom: 1.5rem;
}
#post .reply-block {
  margin-top: 3rem;
}

#create-post .create-post-block .content {
  margin-top: 2rem;
}
#create-post .create-post-block .title {
  margin-top: -0.5rem;
}
#create-post .tag {
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #post .post-block, #create-post .create-post-block {
    margin-top: 3rem;
  }
}